[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
qt-material = "*"
stitchtoon = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = ">=3.8"
