[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6-essentials = "*"
requests = "*"
stitchtoon = "*"
qt-material = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.10"
